<div>

  <h1 class="naslov">Pregled</h1>

  <div class='spinner d-flex justify-content-center'>
    <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            *ngIf="!loaded">
    </mat-progress-spinner>
  </div>

<div class="container">
  <h2>
    Pregled po dnevih
  </h2>
  <div>
    <chart [type]="dayGraphType" [data]="dayGraphPodatki" [options]="dayGraphOptions"></chart>
  </div>
</div>

<hr>

<div class="container">
  <h2>
    Pregled po osebah
  </h2>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Ime</th>
          <th>Vod</th>
          <th>Prisotnosti</th>
          <th>Procent</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{'table-success': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= low_presence), 'table-warning': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= miniamal_presence) && (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 < low_presence), 'table-danger': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= 0) && (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 < miniamal_presence)}"
          *ngFor="let element of data; let i = index">

          <td class="imePrisotnega col-6">{{element.ime}} </td>
          <td>{{element.vod}}</td>
          <td class="steviloPrisotnosti col-4 text-center">{{prisotnostPoLjudeh[i]}}</td>
          <td class="col-2">{{prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 | number: '1.0-0'}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr [hidden]="sortiranjePoVodih">

<div class="container" [hidden]="sortiranjePoVodih">
  <h2>
    Pregled po vodih
  </h2>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Vod</th>
          <th>Prisotnosti</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{'table-success': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= low_presence), 'table-warning': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= miniamal_presence) && (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 < low_presence), 'table-danger': (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 >= 0) && (prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 < miniamal_presence)}"
          *ngFor="let element of vodi; let i = index">

          <td class="imePrisotnega col-6">{{element}} </td>
          <td class="col-2">{{prisotnostPoLjudeh[i] / prisotnostPoLjudehMax * 100 | number: '1.0-0'}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="document_end"></div>
