<div>
  <h1 class="naslov">Pregled</h1>
  <div class='spinner d-flex justify-content-center'>
    <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            *ngIf="!loaded">
    </mat-progress-spinner>
  </div>

<div class="container">
  <h2>
    Pregled po dnevih
  </h2>
  <div>
    <chart [type]="dayGraph.type" [data]="dayGraph.podatki" [options]="dayGraph.options"></chart>
  </div>
</div>

<hr>

<div class="container">
  <h2>
    Pregled po osebah
  </h2>
  <div>
    <table class="table sortable" id="peopleTable">
      <thead>
        <tr>
          <th (click)="sortTable(0)">Ime</th>
          <th (click)="sortTable(1)">Vod</th>
          <th (click)="sortTable(2)">Prisotnosti</th>
          <th (click)="sortTable(3)">Procent</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{'table-success': (element.graphValue / steviloIzvedenihSrecanj * 100 >= settings.low_presence), 'table-warning': (element.graphValue / steviloIzvedenihSrecanj * 100 >= settings.minimal_presence) && (element.graphValue / steviloIzvedenihSrecanj * 100 < settings.low_presence), 'table-danger': (element.graphValue / steviloIzvedenihSrecanj * 100 >= 0) && (element.graphValue / steviloIzvedenihSrecanj * 100 < settings.minimal_presence)}"
          *ngFor="let element of data">

          <td class="imePrisotnega col-6">{{element.ime}} </td>
          <td>{{element.vod}}</td>
          <td class="steviloPrisotnosti col-4 text-center">{{element.graphValue}}</td>
          <td class="col-2">{{element.graphValue / steviloIzvedenihSrecanj * 100 | number: '1.0-0'}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="document_end"></div>
