.naslov {
  font-size: xx-large;
  font-weight: 700;
  padding: 2rem 0rem 0rem 2rem;
}

.preglednica {
  margin-top: 1rem;
}

mat-form-field  {
  font-size: 1rem;
}

.save {
  margin-bottom: 7rem;
}

.get {
  margin-bottom: 2rem;
}

