<div>

  <h1 class="naslov">Settings</h1>

  <div class="container google">
    <h2>Google Sign-in</h2>
    <div id="my-signin2"></div>
    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </div>

  <div class="container preglednica">
    <h2>Preglednica</h2>
    <mat-form-field class="example-form-field w-100" appearance="outline">
      <mat-label>Povezava do tabele</mat-label>
      <input matInput type="text" [(ngModel)]="tabela">
      <button *ngIf="tabela" matSuffix mat-icon-button aria-label="Clear" (click)="tabela=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="container sekcija">
    <h2>Sekcija</h2>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Skupina</mat-label>
      <mat-select [(value)]="izbrana_skupina">
        <mat-option></mat-option>
        <mat-option *ngFor="let skupina of skupine" value="{{skupina.ime}}">{{skupina.ime}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="container save">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
