.naslov {
  font-size: xx-large;
  font-weight: 700;
  padding: 2rem 0rem 0rem 2rem;
}

.preglednica {
  margin-top: 1rem;
}

mat-form-field  {
  font-size: 1rem;
}

mat-expansion-panel {
  margin-bottom: 0.5rem;
}

.get {
  margin-bottom: 2rem;
}

.version {
  padding: 2.5rem 0rem 0rem 2rem;
}

.navodila {
  color: rgb(173, 173, 173);
  font-size: small;
}

.save {
  margin-top: 0.5rem;
}

.check-icon {
  color: green;
  margin-left: 1rem;
}

.cancel-icon {
  color: rgb(211, 0, 0);
  margin-left: 1rem;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-slide-toggle-content {
  vertical-align: top;
  display: inline-block;
  line-height: 24px;
}

.mat-expansion-panel-header {
  background-color: rgba(236, 236, 236, 0.397);
}

