<div>

  <div class="row">
    <div class="col">
      <h1 class="naslov">Nastavitve</h1>
    </div>
    <div class="col">
      <div class="container version d-flex justify-content-center">
        <span class="badge rounded-pill bg-light text-dark">{{versionNumber}}</span>
      </div>
    </div>
  </div>

  <!-- <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="setup_progress + '%'" area-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{setup_progress}}%</div>
  </div> -->

  <mat-accordion class="example-headers-align">

    <!-- Prijava -->
    <mat-expansion-panel (closed)="profileCheck()" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Prijava
          <mat-icon *ngIf="profile" class="panel_icon check-icon">check_circle</mat-icon>
          <mat-icon *ngIf="!profile" class="panel_icon cancel-icon">cancel</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <p></p>
          <mat-icon class="panel_icon">account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container google">
        <h2>Prijava z Googlom</h2>
        <div id="my-signin2"></div>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </div>

    </mat-expansion-panel>

    <!-- Preglednica -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Preglednica
          <mat-icon *ngIf="settings.povezava && settings.skupina" class="panel_icon check-icon">check_circle</mat-icon>
          <mat-icon *ngIf="!settings.povezava || !settings.skupina" class="panel_icon cancel-icon">cancel</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <p></p>
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container preglednica">
        <h2>Preglednica</h2>

        <p class="navodila">Polje povezava do tabele sprejme povezavo ki jo kopiramo do preglednice na storitvi Google Sheets. Po pritisku na gumb Pridobi preglednice bo ta shranjena v izbirni meni in lahko do nje naslednjič hitreje dostopamo.</p>

        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Povezava do tabele</mat-label>
          <input matInput id="povezavaTabela" type="text" [(ngModel)]="settings.povezava">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.povezava=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Shranjene preglednice</mat-label>
          <mat-select [(value)]="settings.povezava">
            <mat-option></mat-option>
            <mat-option *ngFor="let preglednica of settings.shranjene_preglednice" value="{{preglednica.povezava}}">{{preglednica.ime}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="get">
          <button id="pridobiPreglednico" mat-raised-button color="primary" (click)="pridobiPreglednico(); ">Pridobi preglednico!</button>
        </div>

        <p class="navodila">Spodnja nastavitev je relevantna, če imamo v preglednici več listov. V tem primeru bo v meniju možnost preklapljanja med skupinami. V nasprotnem primeru vedno izberemo prvi možnost.</p>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Skupina</mat-label>
          <mat-select id="skupinaDropdown" [(value)]="settings.skupina">
            <mat-option></mat-option>
            <mat-option *ngFor="let skupina of skupine" value="{{skupina.ime}}">{{skupina.ime}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button id="shraniPreglednico" mat-raised-button color="primary" (click)="shraniNastavitve()">Shrani</button>
        </div>
      </div>

    </mat-expansion-panel>

    <!-- Splosne nastavitve -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Splošne nastavitve
        </mat-panel-title>
        <mat-panel-description>
          <p></p>
          <mat-icon>settings</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container sekcija">

        <h2>Znaki v preglednici</h2>

        <p class="navodila">Spodnji znaki bodo uporabljeni pri zapisu udeležbe v preglednico. V vsakem polju je dovoljen samo po en znak.</p>

        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Znak za prisotnost</mat-label>
          <input matInput type="text" [(ngModel)]="settings.simboli.prisoten_symbol">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.simboli.prisoten_symbol=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Znak za odsotnost</mat-label>
          <input matInput type="text" [(ngModel)]="settings.simboli.odsoten_symbol">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.simboli.odsoten_symbol=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Znak za upravičeno odsotnost</mat-label>
          <input matInput type="text" [(ngModel)]="settings.simboli.upraviceno_odsoten_symbol">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.simboli.upraviceno_odsoten_symbol=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <h2>Opozorila</h2>

        <p class="navodila">Nastavitve za spodnjo mejo obvestil na pregledu. Udeležba pod minimalno prisotnostjo bo obarvana rdeče, pod nizko rumeno, vse ostalo bo v zeleni barvi.</p>

        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Minimalna prisotnost (%)</mat-label>
          <input matInput type="text" [(ngModel)]="settings.minimal_presence">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.minimal_presence=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-form-field w-100" appearance="outline">
          <mat-label>Nizka prisotnost (%)</mat-label>
          <input matInput type="text" [(ngModel)]="settings.low_presence">
          <button *ngIf="settings.povezava" matSuffix mat-icon-button aria-label="Clear" (click)="settings.low_presence=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <h2>Barve za opozorila</h2>

        <p class="navodila">Nastavitve za obarvanje vrstic v pregledu udeležbe.</p>

        <span class="badge bg-warning text-dark">Coming soon</span>

        <div class="mt-3">
          <button mat-raised-button color="primary" (click)="shraniNastavitve()">Shrani</button>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Osebno napredovanje -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Osebno napredovanje
        </mat-panel-title>
        <mat-panel-description>
          <p></p>
          <mat-icon>self_improvement</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <span class="badge bg-warning text-dark">Coming soon</span>


      <!-- <div class="row">
        <div class="col">
          <label class="mat-slide-toggle-content" for="onToggle">Omogoči osebno napredovanje!</label>
        </div>
        <div class="col">
          <mat-slide-toggle
            id="onToggle"
            class="example-margin"
            [color]="color"
            [checked]="osebnoNapredovanjeToggle"
            [disabled]="disabled"
            [(ngModel)]="osebnoNapredovanjeToggle"
            (change)="switchOsebnoNapredovanje()">
          </mat-slide-toggle>
        </div>
      </div> -->

      <!-- <h2 class="mt-3">Preglednica</h2>

      <mat-form-field class="example-form-field w-100" appearance="outline">
        <mat-label>Povezava do tabele</mat-label>
        <input matInput type="text" [(ngModel)]="ONPreglednicaUrl">
        <button *ngIf="ONPreglednicaUrl" matSuffix mat-icon-button aria-label="Clear" (click)="ONPreglednicaUrl=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->

      <!-- <mat-form-field class="w-100" appearance="outline">
        <mat-label>Shranjene preglednice</mat-label>
        <mat-select [(value)]="ONPreglednicaUrl">
          <mat-option></mat-option>
          <mat-option *ngFor="let preglednica of ONShranjenePreglednice" value="{{preglednica.povezava}}">{{preglednica.ime}}</mat-option>
        </mat-select>
      </mat-form-field> -->

    <!-- <div class="get">
      <button mat-raised-button color="primary" (click)="getTabelaON(); ">Pridobi preglednico!</button>
    </div> -->
    </mat-expansion-panel>
  </mat-accordion>

  <div class="document_end"></div>
</div>
