<div>
  <h1 class="naslov">Pregled</h1>

  <div class="container">
    <h2>
      Poti
    </h2>
    <div>
    </div>
  </div>

  <hr>

  <div class="container">
    <h2>
      Dodaj novo pot
    </h2>
    <div>
      <form class="potniForm">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Priimek</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="document_end"></div>
