<div class="appbar">
  <h1 class="naslov"><span class="check_naslov" matBadge="{{data.length - prisotni - odsotni}}" matBadgePosition="after" matBadgeOverlap="false">Obkljukovalnica</span></h1>
</div>

<div class='spinner d-flex justify-content-center'>
  <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          *ngIf="!loaded">
  </mat-progress-spinner>
</div>



<div class="container udelezenci">
  <div class="alert alert-warning" role="alert" [hidden]='today'>
    Za današnji dan ni ustvarjenega datuma. Stolpec bo avtomatsko dodan!
  </div>
  <div *ngFor="let udelezenec of data" class="udelezenec row d-flex" [ngStyle]="{'background-color': (udelezenec[datum]=='x') ? '#4CAF50' : ((udelezenec[datum]=='/') ? '#9E9E9E' : ((udelezenec[datum]=='o') ? '#9E9E9E' : '#ffffff'))}">
    <div class="ime col-6 justify-content-center align-self-center">{{udelezenec.Ime}}</div>
    <div class="ikone col-6 row d-flex">
      <div class="accept col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 0)">
          <mat-icon class="material-icons-outlined color_blue">
            done
          </mat-icon>
        </button>
      </div>
      <div class="accept col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 1)">
          <mat-icon class="material-icons-outlined color_blue">
            radio_button_unchecked
          </mat-icon>
        </button>
      </div>
      <div class="reject col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 2)">
          <mat-icon class="material-icons-outlined color_blue">
            close
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
