<div class="appbar">
  <h1 class="naslov"><span class="check_naslov" matBadge="{{data.length - prisotni - odsotni}}" matBadgePosition="after" matBadgeOverlap="false">Obkljukovalnica</span></h1>
</div>

<div class='spinner d-flex justify-content-center'>
  <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          *ngIf="!loaded">
  </mat-progress-spinner>
</div>



<div class="container udelezenci">
  <div class="empty_state" *ngIf="loaded && data.length == 0">
    <img src="../../../assets/images/empty_state.png" alt="" style="width: 100%;">
  </div>
  <div class="alert alert-warning container" role="alert" [hidden]='today'>
    <h2 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Manjkajoč datum</h2>
    <table>
      <td>
        Stolpec bo avtomatsko dodan! <br>
        Če v tabeli obstajajo dodatni stolpci (skupaj, formule,...) bodo lahko zamaknjeni ali pokvarjeni.
      </td>
      <td>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </td>
    </table>
  </div>

  <!-- Izbira datuma -->
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="izbranDatum" (dateChange)="dateChange()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <!-- Seznam udelezencev -->
  <div *ngFor="let udelezenec of data" class="udelezenec row d-flex" [ngStyle]="{'background-color': (udelezenec[datum]==prisoten_symbol) ? '#4CAF50' : ((udelezenec[datum]==odsoten_symbol) ? '#9E9E9E' : ((udelezenec[datum]==upraviceno_odsoten_symbol) ? '#9E9E9E' : '#ffffff'))}">
    <div class="ime col-6 justify-content-center align-self-center">{{udelezenec.Ime}}</div>
    <div class="ikone col-6 row d-flex">
      <div class="accept col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 0)">
          <mat-icon class="material-icons-outlined color_blue">
            done
          </mat-icon>
        </button>
      </div>
      <div class="accept col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 1)">
          <mat-icon class="material-icons-outlined color_blue">
            radio_button_unchecked
          </mat-icon>
        </button>
      </div>
      <div class="reject col-4 align-self-center">
        <button mat-mini-fab color="accent" (click)="present(udelezenec.Id, 2)">
          <mat-icon class="material-icons-outlined color_blue">
            close
          </mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="d-grid mt-3" *ngIf="loaded">
    <button (click)='clearInput()' type="button" class="btn btn-danger clearButton">
      <i id="clearIcon" class="far fa-trash-alt"></i>
    </button>
  </div>

  <div class="document_end"></div>
</div>
