<h1 class="naslov">Check</h1>

<div class="container">
  <div *ngFor="let udelezenec of data" class="udelezenec row d-flex">
    <div class="ime col justify-content-center align-self-center">{{udelezenec.Ime}}</div>
    <div class="ikone col row d-flex">
      <div class="accept col align-self-center">
        <button mat-icon-button color="accent">
          <mat-icon class="material-icons-outlined color_blue" routerLink="404">
            done
          </mat-icon>
        </button>
      </div>
      <div class="reject col align-self-center">
        <button mat-icon-button color="accent">
          <mat-icon class="material-icons-outlined color_blue" routerLink="404">
            close
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
