.naslov {
  font-size: xx-large;
  font-weight: 700;
  padding: 2rem 0rem 0rem 2rem;
}

.check_naslov {
  display: inline-block;
}

.appbar{
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;

-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
 box-shadow:        2px 2px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.example-margin {
  margin-top: 7rem;
}

.udelezenci {
  margin-top: 7rem;
}

.udelezenec {
  background-color: rgb(247, 247, 247);
  height: 5rem;
  border-radius: 15px;
  margin: 0rem 0rem 0.5rem 0rem;
  box-shadow: 0px 0px 5px -2px rgba(138,138,138,1);
}

.ime {
  font-size: large;
  font-weight: 600;
}

.empty_state {
  margin-top: 10rem;
}

.spinner {
  z-index: 10;
}

.datum {
  width: 7rem !important;
}

.alert-heading {
  font-size: large;
  font-weight: 500;
}

.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}
