<mat-toolbar class="toolbarNav">

  <button mat-icon-button color="accent">
    <mat-icon class="material-icons color_blue" routerLink="/">
        fact_check
    </mat-icon>
  </button>

  <button mat-icon-button color="accent">
    <mat-icon class="material-icons-outlined color_blue" routerLink="404">
      person
    </mat-icon>
  </button>

  <button mat-icon-button color="accent">
    <mat-icon class="material-icons-outlined color_blue" routerLink="settings">
      settings
    </mat-icon>
  </button>

</mat-toolbar>
